@import "../../variables.scss";

.cell {
    position: absolute;

    background: $primary-color;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.cell__tile {
    position: absolute;

    background: $tile-color-0;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    &[data-cell-value="2"] {
        background: $tile-color-2;
    }

    &[data-cell-value="4"] {
        background: $tile-color-4;
    }

    &[data-cell-value="8"] {
        background: $tile-color-8;
    }

    &[data-cell-value="16"] {
        background: $tile-color-16;
    }

    &[data-cell-value="32"] {
        background: $tile-color-32;
    }

    &[data-cell-value="64"] {
        background: $tile-color-64;
    }

    &[data-cell-value="128"] {
        background: $tile-color-128;
    }

    &[data-cell-value="256"] {
        background: $tile-color-256;
    }

    &[data-cell-value="512"] {
        background: $tile-color-512;
    }

    &[data-cell-value="1024"] {
        background: $tile-color-1024;
    }

    &[data-cell-value="2048"] {
        background: $tile-color-2048;
    }
}