$primary-color: #FBED9D;
$secondary-color: #5AAA95;
$secondary-color-dark: #216c58;
$text-light: #fff;

$tile-color-0: #5AAA95;
$tile-color-2: #16edb4;
$tile-color-4: #34f088;
$tile-color-8: #39a8df;
$tile-color-16: #477ae9;
$tile-color-32: #175ade;
$tile-color-64: #5e5ce8;
$tile-color-128: #9545f1;
$tile-color-256: #ee62e0;
$tile-color-512: #ed536f;
$tile-color-1024: #e85165;
$tile-color-2048: #fe0000;
